In [1]:
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
df = pd.read_json('./Data/db_export.csv', encoding='ISO-8859-1')
df.info()
df.head()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 0 to 52
Data columns (total 23 columns):
1_1                      52 non-null float64
1_2                      52 non-null float64
1_3                      52 non-null float64
1_4                      52 non-null float64
1_5                      52 non-null float64
1_6                      52 non-null object
2_1                      52 non-null object
2_2                      52 non-null float64
2_3                      52 non-null float64
2_4                      52 non-null float64
3_1                      52 non-null float64
3_2                      52 non-null float64
3_3                      52 non-null float64
3_4                      52 non-null float64
3_5                      52 non-null float64
3_6                      52 non-null float64
3_7                      52 non-null float64
computerButtonClicked    52 non-null float64
currentPage              1 non-null float64
dropout                  1 non-null object
email                    53 non-null object
themeChosen              53 non-null int64
timeToComplete           52 non-null float64
dtypes: float64(18), int64(1), object(4)
memory usage: 9.9+ KB

,1_1,1_2,1_3,1_4,1_5,2_2,2_3,2_4,3_1,3_2,3_3,3_4,3_5,3_6,3_7,computerButtonClicked,currentPage,themeChosen,timeToComplete
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,1.0,53.000000,52.000000
mean,1.326923,1.307692,1.096154,1.903846,1.750000,1.076923,1.846154,1.673077,3.115385,3.634615,2.865385,3.769231,2.346154,2.692308,1.076923,0.288462,1.0,2.754717,111.615442
std,0.513395,0.466041,0.297678,0.602596,0.710565,0.269069,0.459523,0.617432,0.899975,0.657650,0.397485,0.645205,0.860566,0.919046,0.334087,1.257706,NaN,1.124990,69.925971
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.000000,51.131000
25%,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,3.000000,3.000000,3.000000,4.000000,2.000000,2.000000,1.000000,0.000000,1.0,2.000000,74.679250
50%,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,3.000000,4.000000,3.000000,4.000000,3.000000,3.000000,1.000000,0.000000,1.0,3.000000,83.926500
75%,2.000000,2.000000,1.000000,2.000000,2.000000,1.000000,2.000000,2.000000,4.000000,4.000000,3.000000,4.000000,3.000000,3.000000,1.000000,0.000000,1.0,4.000000,118.590750
max,3.000000,2.000000,2.000000,3.000000,3.000000,2.000000,3.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,4.000000,3.000000,8.000000,1.0,4.000000,412.624000

In [3]:
with open ('./../AB-Testing-Form/templates/index.phtml') as fp:
    soup = BeautifulSoup(fp, 'html.parser')

In [4]:
survey_questions = {}  # question : [choices]

In [33]:
# for each page in the form
pages = soup.find_all('div', class_='page')
for p in range(len(pages)):
    
    if p > 0:  # ignore the first page
        questions = pages[p].find_all('div', class_='row section')
        
        for q in questions:
            # strip the number from the question
            question_title = q.find('h5').contents[1]
            
            # option tags surrounding the choices
            options = q.find('div', class_="input-field col s12 m8"
                            ).find('select').find_all('option')
            
            choices = []
            
            # keep track of those choices that aren't disabled
            for o in options:
                if 'disabled' not in str(o):
                    choices.append(o.contents[0])

            survey_questions[question_title] = choices
            

survey_questions

{'How frustrated or confused were you while completing this form?  ': ['Very frustrated',
  'Somewhat frustrated',
  'Not very frustrated',
  'Not at all frustrated'],
 'How happy were you completing this form?  ': ['Happy',
  'Somewhat happy',
  'Neutral ',
  'Unhappy'],
 'How likely are you to share this form?  ': ['Very likely',
  'Somewhat likely',
  'Not very likely',
  'Not at all likely'],
 'How many questions did you find difficult to answer?  ': ['Many questions',
  'A few questions',
  'No questions'],
 'How mentally demanding was filling out this form?  ': ['Very demanding',
  'Somewhat demanding',
  'Not very demanding',
  'Not at all demanding'],
 'How often do you use a desktop or laptop computer?  ': ['More than 5 hours a day',
  'Less than 5 hours a day',
  'Not everyday'],
 'How old are you?  ': ['17-19', '20-22', '23-25', '25+'],
 'How relevant is technology to your major? ': ['Extremely relevant',
  'Somewhat relevant',
  'Not very relevant',
  'Not at all relevant'],
 'How rushed did you feel while completing this form?  ': ['Very rushed',
  'Somewhat rushed',
  'Not very rushed',
  'Not at all rushed'],
 'How technologically savvy are you? ': ['Expert',
  'Intermediate',
  'Beginner',
  "I'm not sure"],
 'What kind of computer do you own?  ': ['Mac (MacOS/OSX)',
  'PC (Windows)',
  'Linux',
  "I'm not sure.",
  "I don't own a computer. "],
 'What kind of smartphone do you use? ': ['iPhone',
  'Android',
  "I don't own a smartphone."],
 'What was the first question in this form?  ': ['How often do you use a desktop or laptop computer?',
  'What school do you attend?',
  'How technologically savy are you?'],
 'What year are you?  ': ['Undergraduate', 'Graduate', 'PhD Candidate'],
 "What's your gender?  ": ['Male', 'Female', 'Other'],
 'Which of the following technical tasks are you comfortable doing?': ['Typing a paper in Word',
  'Using a classroom projector',
  'Compiling and running Java code',
  'Using the printers in Fondren',
  'Buying items online',
  'Python list comprehension'],
 'Which school do you attend?  ': ['Dedman',
  'Dedman Law',
  'Meadows',
  'Cox',
  'Lyle',
  'Perkins',
  'Simmons']}